<nav class="flex justify-center p-4 lg:p-8">
    <div class="flex lg:w-[85vw] justify-between">
        <div class="flex items-center lg:gap-5">
            <div>
                <p class="text-xl font-semibold">ngui</p>
            </div>
            <ul class="flex items-center text-gray-200 gap-3">
                <li><a href="">Docs</a></li>
                <li><a href="">Showcase</a></li>
                <li><a href="">Template</a></li>
            </ul>
        </div>
        <div class="text-xl flex gap-2 items-center">
            <button>
                <i class='bx bx-sun' ></i>
            </button>
            <a href=""><i class='bx bxl-github'></i></a>
            
        </div>
    </div>
</nav>