<section class="flex justify-center">
    <div class="container mx-auto lg:w-[85vw]">
        <div class="mt-20 flex flex-col lg:flex-row">
            <div class=" w-max">
                <div class="border rounded-full p-1 w-max flex items-center border-white/5 gap-2">
                    <span class="bg-red-600 rounded-full px-3 border border-white/5">Info</span>
                    <div>
                        <p class="mr-2 font-semibold">New blocks are comming</p>
                    </div>
                </div>
                <div class="mt-5">
                    <h1 class="text-3xl lg:text-6xl font-semibold bg-gradient-to-bl from-slate-50 to-slate-300 text-transparent bg-clip-text p-2">A set of <span class="font-normal bg-gradient-to-r from-pink-600 to-red-600 text-transparent bg-clip-text">UIs building blocks</span> <br> for <span class="font-normal">Angular</span> styled with Tailwindcss</h1>
                </div>
                <div class="mt-5">
                    <p class="text-xl p-2 text-gray-300">For fast development and better UIs for non designer get our <br> easy to customize ngUI code snippets for your components</p>
                </div>
    
                <div class="flex items-center mt-10 gap-5 p-2">
                    <a href="" class="p-2 bg-gradient-to-l from-pink-600 to-red-600 rounded-xl px-4">All blocks</a>
                    <a href="" class="p-2 border border-white/5 rounded-xl bg-white/5 px-4">Free Templates</a>
                </div>
            </div>
            <div class=" grid grid-cols-2 lg:grid-cols-3 p-2 gap-4">
                <div></div>
                
                <div class="p-1 border-b rounded-2xl border-r border-white/5 grid gap-2 place-content-center">
                    <button class="p-2 bg-blue-700 px-4 rounded-xl w-max">Click me</button>
                    <button class="p-2 bg-blue-700/5 border border-white/5 px-4 rounded-xl w-max">Click me</button>
                    
                </div>
                <div class=" ">
                    <div class="size-full bg-white/5 w-[15vw] h-max rounded-xl relative  overflow-hidden flex flex-col items-center">
                        <div class="h-20 bg-red-500 w-full"></div>
                        <div class="size-20 rounded-full bg-blue-800 ring-2 ring-white relative -top-7 "></div>
                        <div class="relative -top-4">
                            <h2 class="font-semibold text-center">John Doe</h2>
                            <div class="flex items-center gap-2 text-gray-400 mt-2">
                                <p class="bg-white/5 p-1 px-2 rounded-lg">0 post</p>
                                <p class="bg-white/5 p-1 px-2 rounded-lg">5k Followers</p>
                            </div>
                        </div>
                    </div>
                </div>

                
                <div class="border-t border-l border-white/5 rounded-2xl p-1 col-span-2 ">
                    <div class="size-full bg-white/5 p-4 rounded-xl flex gap-4">
                        <div class="size-12 bg-red-700 rounded-full ring-2 ring-white"></div>
                        <div>
                            <div class="flex items-center gap-2">
                                <p class="font-semibold">DevKip</p>
                                <div class="size-1 rounded-full bg-white/10 text-transparent">.</div>
                                <p class="text-gray-500">4min ago</p>
                            </div>
                            <div class="mt-2">
                                <h4 class="font-bold">Jr Angular developer/mid-level</h4>
                            </div>
                            <div class="flex items-center text-gray-500 mt-1 gap-2">
                                <p>Remote</p>
                                <p>Full-time</p>
                                <p>40-45k/yr</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="border-t grid place-content-center border-l rounded-2xl border-white/5">
                    <div class="relative">
                        <div class="size-20 bg-red-500 border border-white/5 rounded-full"></div>
                        <div class="bg-white/5 p-2 grid place-content-center size-8 rounded-full absolute bottom-1 border border-white/5 -right-2 backdrop-blur-xl">M</div>
                    </div>
                </div>
                <div></div>
            </div>
            <div></div>
        </div>
    </div>
</section>